:host {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

app-filelist {
    padding: 0px 2px;
    height: 100%;
    width: 100%;
}

::ng-deep .as-split-gutter {
    background-color: rgb(75, 75, 75) !important;
}