:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.host-header {
    display: flex;
    justify-content: space-between;
    margin: 8px 4px;
}

.host-content {
    overflow: auto;
}

.host-list {
    display: flex;
    flex-wrap: wrap;
}