.main {
    height: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    line-height: 16px;
}

.win-ctrl {
    padding: 2px 6px;
}

.win-ctrl.size:hover {
    background-color: #2f2f2f;
}

.win-ctrl.close:hover {
    background-color: #ff0000;
}

::ng-deep .ant-layout-header {
    height: 24px;
    line-height: 24px;
}

::ng-deep .ant-btn-icon-only {
    height: 24px;
}

nz-content {
    margin: 0px;
}

nz-footer {
    text-align: center;
}

:host {
    background: #f5f5f5;
    overflow: hidden;
    padding: 0px;
    display: block;
    height: 100%;
    border: 1px solid rgb(75, 75, 75);
    user-select: none;
}

::ng-deep .ant-tabs {
    height: 100%;
}

::ng-deep .ant-tabs-card .ant-tabs-content {
    height: 100%;
}

::ng-deep .ant-layout-footer {
    padding: 0px;
}

.main ::ng-deep .ant-tabs-tab-active {
    border-top: 2px solid #800f19;
}

::ng-deep .ant-tabs-top>.ant-tabs-nav {
    /*margin-top: 8px;*/
    /*margin-left: 4px;*/
    margin-bottom: 0px;
}

::ng-deep .ant-tabs-tab .anticon {
    margin-right: 2px;
}

::ng-deep .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active {
    background-color: #1f1f1f;
}

.tabTitle {
    position: relative;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    z-index: auto;
    width: 6px;
    min-width: 6px;
    height: 6px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #141414;
}

.badge.normal {
    background: green;
}

.badge.error {
    background: red;
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
    z-index: auto;
    width: 16px;
    min-width: 16px;
    height: 16px;
}

.selectHostBtn button {
    margin-right: 8px;
    margin-bottom: 12px;
}