<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Alias</nz-form-label>
        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input [(ngModel)]="host.title" formControlName="title" placeholder="Host Alias" (ngModelChange)="onTitleChange($event)" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="host.type=='host' || host.type=='subhost'">
        <nz-form-label [nzSpan]="7" nzRequired>HostIP</nz-form-label>
        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input [(ngModel)]="host.ip" formControlName="ip" placeholder="Host IP Address" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="host.type=='host' || host.type=='subhost'">
        <nz-form-label [nzSpan]="7" nzRequired>Port</nz-form-label>
        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input [(ngModel)]="host.port" formControlName="port" placeholder="Host Port" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="host.type=='host' || host.type=='subhost'">
        <nz-form-label [nzSpan]="7" nzRequired>User</nz-form-label>
        <nz-form-control [nzSpan]="12" nzDisableAutoTips nzErrorTip="Please input your password!">
            <input nz-input [(ngModel)]="host.user" formControlName="user" placeholder="User" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="host.type=='host' || host.type=='subhost'">
        <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSpan]="12" nzDisableAutoTips nzErrorTip="Please input your password!">
            <input nz-input type="password" [(ngModel)]="host.pass" formControlName="pass" />
        </nz-form-control>
    </nz-form-item>
</form>