:host{
    display: flex;
    flex-direction: column;
}
::ng-deep .ant-spin-container{
    height: 100%;
}
nz-spin{
    height: 100%;
}
nz-table{
    flex-grow: 2;
    width: 100%;
}
.listtype{
    padding:0px 8px;
}
.title{
    background: rgb(75, 75, 75);
    height:32px;
    display: flex;
    align-items: center;
}

::ng-deep .ant-table.ant-table-small .ant-table-thead > tr > th, ::ng-deep .ant-table.ant-table-small .ant-table-tbody> tr > td {
  padding: 2px 8px;
}