<nz-layout class='main'>
    <nz-sider nzWidth='101px'>
        <div class="btn-list">
            <div (click)="setFunc('hostcfg')" title="host config" [ngClass]="{'btn-selected':openedFunc == 'hostcfg'}"><i nz-icon nzType="unordered-list"></i></div>
            <div (click)="setFunc('history')" title="history" [ngClass]="{'btn-selected':openedFunc == 'history'}"><i nz-icon nzType="history"></i></div>
            <div (click)="openLocalTerm()" title="open local terminal"><i nz-icon nzType="windows"></i></div>
            <div (click)="setFunc('setting')" title="setting" [ngClass]="{'btn-selected':openedFunc == 'setting'}"><i nz-icon nzType="setting"></i></div>
        </div>
    </nz-sider>
    <nz-content>
        <app-hostcfg *ngIf="isOpenedFunc('hostcfg')"></app-hostcfg>
        <app-history *ngIf="isOpenedFunc('history')"></app-history>
        <app-setting *ngIf="isOpenedFunc('setting')"></app-setting>
    </nz-content>
</nz-layout>