.main {
    height: 100%;
}

.btn-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.btn-list div {
    margin-top: 16px;
    padding: 0px 24px;
    border-radius: 16px;
    border: 1px solid;
    cursor: pointer;
}

.btn-list div:not(.btn-selected) {
    border: 1px solid #4f4f4f;
    color: #4f4f4f;
}

.btn-list div.btn-selected {
    border-color: #4357cc;
    color: #4357cc;
}

.btn-list div:hover {
    border-color: #2477c5;
    color: #2477c5;
}

nz-content {
    margin: 0 16px;
}

.inner-content {
    padding: 24px;
    min-height: 360px;
}